openapi: 3.0.3
info:
  title: CartNova E-Commerce API
  version: 2.4.1
  description: |
    CartNova is a modern, API-first multi-category e-commerce marketplace.
    This spec covers all 37 endpoints across 10 route groups including
    products, categories, cart, checkout, auth, users, orders, sellers,
    webhooks, and internal endpoints.

    ## Authentication
    - **JWT Bearer** — Most authenticated endpoints use a JWT token in the Authorization header.
    - **Seller API Key** — Seller endpoints use an API key in the X-Seller-Key header.
    - **mTLS** — Webhook endpoints are secured via mutual TLS at the Cloudflare level.
    - **Internal endpoints** — Intentionally exposed with no authentication.
  contact:
    name: CartNova API Team
    email: api@carnova.uk

servers:
  - url: https://carnova.uk
    description: CartNova API (Production)

tags:
  - name: Products
    description: Product catalog — browsing, search, reviews, and variants (public)
  - name: Categories
    description: Product categories (public)
  - name: Cart
    description: Shopping cart management (JWT auth)
  - name: Checkout
    description: Multi-step checkout sequence (JWT auth)
  - name: Auth
    description: Registration, login, and token refresh (public)
  - name: Users
    description: User profile and saved addresses (JWT auth)
  - name: Orders
    description: Order history, detail, tracking, and returns (JWT auth)
  - name: Sellers
    description: Seller portal — listings, analytics, orders (API key auth)
  - name: Webhooks
    description: Inbound payment and shipping webhooks (mTLS)
  - name: Internal
    description: Health check, metrics, and cache management (no auth — accidentally exposed)

paths:
  # ──────────────────────────────────────────────
  # Products
  # ──────────────────────────────────────────────
  /api/v2/products:
    get:
      operationId: listProducts
      summary: List or filter products
      tags: [Products]
      security: []
      parameters:
        - name: q
          in: query
          description: Free-text search query
          schema:
            type: string
        - name: category
          in: query
          description: Filter by category ID
          schema:
            type: string
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Items per page
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Paginated product list
          content:
            application/json:
              schema:
                type: object
                required: [products, pagination]
                properties:
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProductSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"

  /api/v2/products/search:
    get:
      operationId: searchProducts
      summary: Full-text product search
      tags: [Products]
      security: []
      parameters:
        - name: q
          in: query
          required: true
          description: Search query (required)
          schema:
            type: string
        - name: min_price
          in: query
          description: Minimum price filter
          schema:
            type: number
        - name: max_price
          in: query
          description: Maximum price filter
          schema:
            type: number
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                required: [query, results, total]
                properties:
                  query:
                    type: string
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/SearchResult"
                  total:
                    type: integer
        "400":
          description: Missing required query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: BAD_REQUEST
                  message: "Query parameter 'q' is required"

  /api/v2/products/{product_id}:
    get:
      operationId: getProduct
      summary: Get product detail
      tags: [Products]
      security: []
      parameters:
        - $ref: "#/components/parameters/ProductId"
      responses:
        "200":
          description: Full product detail including variants
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDetail"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v2/products/{product_id}/reviews:
    get:
      operationId: getProductReviews
      summary: Get product reviews
      tags: [Products]
      security: []
      parameters:
        - $ref: "#/components/parameters/ProductId"
      responses:
        "200":
          description: Product reviews
          content:
            application/json:
              schema:
                type: object
                required: [product_id, reviews, total, average_rating]
                properties:
                  product_id:
                    type: string
                  reviews:
                    type: array
                    items:
                      $ref: "#/components/schemas/Review"
                  total:
                    type: integer
                  average_rating:
                    type: number
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      operationId: addProductReview
      summary: Add a product review
      tags: [Products]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProductId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating, text]
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                text:
                  type: string
      responses:
        "201":
          description: Review created
          content:
            application/json:
              schema:
                type: object
                required: [id, product_id, user_id, author_name, rating, text, created_at]
                properties:
                  id:
                    type: string
                  product_id:
                    type: string
                  user_id:
                    type: string
                  author_name:
                    type: string
                  rating:
                    type: integer
                  text:
                    type: string
                  created_at:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v2/products/{product_id}/variants:
    get:
      operationId: getProductVariants
      summary: Get product variants
      tags: [Products]
      security: []
      parameters:
        - $ref: "#/components/parameters/ProductId"
      responses:
        "200":
          description: Product variants
          content:
            application/json:
              schema:
                type: object
                required: [product_id, variants, total]
                properties:
                  product_id:
                    type: string
                  variants:
                    type: array
                    items:
                      $ref: "#/components/schemas/Variant"
                  total:
                    type: integer
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Categories
  # ──────────────────────────────────────────────
  /api/v2/categories:
    get:
      operationId: listCategories
      summary: List all categories
      tags: [Categories]
      security: []
      responses:
        "200":
          description: All product categories
          content:
            application/json:
              schema:
                type: object
                required: [categories, total]
                properties:
                  categories:
                    type: array
                    items:
                      $ref: "#/components/schemas/Category"
                  total:
                    type: integer

  /api/v2/categories/{category_id}/products:
    get:
      operationId: getCategoryProducts
      summary: List products in a category
      tags: [Categories]
      security: []
      parameters:
        - name: category_id
          in: path
          required: true
          description: Category ID
          schema:
            type: string
      responses:
        "200":
          description: Products in the category
          content:
            application/json:
              schema:
                type: object
                required: [category, products, total]
                properties:
                  category:
                    type: object
                    required: [id, name]
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      image:
                        type: string
                        nullable: true
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/CategoryProductItem"
                  total:
                    type: integer
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Cart
  # ──────────────────────────────────────────────
  /api/v2/cart:
    get:
      operationId: getCart
      summary: View current shopping cart
      tags: [Cart]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Current cart contents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cart"

  /api/v2/cart/items:
    post:
      operationId: addCartItem
      summary: Add item to cart
      tags: [Cart]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, quantity]
              properties:
                product_id:
                  type: string
                variant_id:
                  type: string
                quantity:
                  type: integer
                  minimum: 1
      responses:
        "201":
          description: Item added — returns updated cart
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cart"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v2/cart/items/{item_id}:
    put:
      operationId: updateCartItem
      summary: Update item quantity
      tags: [Cart]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ItemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quantity]
              properties:
                quantity:
                  type: integer
                  minimum: 1
      responses:
        "200":
          description: Quantity updated — returns updated cart
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cart"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: removeCartItem
      summary: Remove item from cart
      tags: [Cart]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ItemId"
      responses:
        "200":
          description: Item removed — returns updated cart
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cart"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Checkout
  # ──────────────────────────────────────────────
  /api/v2/checkout/start:
    post:
      operationId: startCheckout
      summary: Initiate checkout from current cart
      tags: [Checkout]
      security:
        - BearerAuth: []
      responses:
        "201":
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutSession"
        "400":
          description: Cart is empty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v2/checkout/{checkout_id}/shipping:
    put:
      operationId: setCheckoutShipping
      summary: Set shipping address for checkout
      tags: [Checkout]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CheckoutId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShippingAddressInput"
      responses:
        "200":
          description: Shipping address set
          content:
            application/json:
              schema:
                type: object
                required: [id, status, shipping, updated_at]
                properties:
                  id:
                    type: string
                  status:
                    type: string
                    enum: [shipping_set]
                  shipping:
                    $ref: "#/components/schemas/ShippingAddress"
                  payment:
                    type: object
                    nullable: true
                    description: Payment info (null until set)
                  updated_at:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v2/checkout/{checkout_id}/payment:
    put:
      operationId: setCheckoutPayment
      summary: Set payment method for checkout
      tags: [Checkout]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CheckoutId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_method, card_token]
              properties:
                payment_method:
                  type: string
                card_token:
                  type: string
                billing_address:
                  type: object
                  properties:
                    name:
                      type: string
                    address_line_1:
                      type: string
                    city:
                      type: string
                    postal_code:
                      type: string
                    country:
                      type: string
      responses:
        "200":
          description: Payment method set
          content:
            application/json:
              schema:
                type: object
                required: [id, status, payment, updated_at]
                properties:
                  id:
                    type: string
                  status:
                    type: string
                    enum: [payment_set]
                  shipping:
                    $ref: "#/components/schemas/ShippingAddress"
                    nullable: true
                  payment:
                    type: object
                    required: [payment_method, card_token, last_four]
                    properties:
                      payment_method:
                        type: string
                      card_token:
                        type: string
                      last_four:
                        type: string
                      billing_address:
                        type: object
                        nullable: true
                        properties:
                          name:
                            type: string
                          address_line_1:
                            type: string
                          city:
                            type: string
                          postal_code:
                            type: string
                          country:
                            type: string
                  updated_at:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v2/checkout/{checkout_id}/confirm:
    post:
      operationId: confirmCheckout
      summary: Confirm and place the order
      tags: [Checkout]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CheckoutId"
      responses:
        "200":
          description: Order confirmed
          content:
            application/json:
              schema:
                type: object
                required: [checkout_id, order_id, status, message, items, total, currency, confirmed_at]
                properties:
                  checkout_id:
                    type: string
                  order_id:
                    type: string
                  status:
                    type: string
                    enum: [confirmed]
                  message:
                    type: string
                    example: Order placed successfully
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/CartItem"
                  total:
                    type: number
                  currency:
                    type: string
                  confirmed_at:
                    type: string
                    format: date-time

  /api/v2/checkout/{checkout_id}/status:
    get:
      operationId: getCheckoutStatus
      summary: Check checkout session status
      tags: [Checkout]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CheckoutId"
      responses:
        "200":
          description: Checkout status
          content:
            application/json:
              schema:
                type: object
                required: [id, status, items, subtotal, currency, created_at]
                properties:
                  id:
                    type: string
                  status:
                    type: string
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/CartItem"
                  subtotal:
                    type: number
                  currency:
                    type: string
                  shipping:
                    $ref: "#/components/schemas/ShippingAddress"
                    nullable: true
                  created_at:
                    type: string
                    format: date-time
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Auth
  # ──────────────────────────────────────────────
  /api/v2/auth/register:
    post:
      operationId: register
      summary: Create a new user account
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                name:
                  type: string
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema:
                type: object
                required: [user, access_token, token_type, expires_in]
                properties:
                  user:
                    $ref: "#/components/schemas/UserInfo"
                  access_token:
                    type: string
                  token_type:
                    type: string
                    enum: [Bearer]
                  expires_in:
                    type: integer
                    example: 900
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v2/auth/login:
    post:
      operationId: login
      summary: Authenticate and receive a JWT
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                required: [access_token, token_type, expires_in, user]
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    enum: [Bearer]
                  expires_in:
                    type: integer
                    example: 900
                  user:
                    $ref: "#/components/schemas/UserInfo"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v2/auth/refresh:
    post:
      operationId: refreshToken
      summary: Refresh access token
      description: Requires a refresh_token cookie (not in request body).
      tags: [Auth]
      security: []
      responses:
        "200":
          description: Token refreshed
          content:
            application/json:
              schema:
                type: object
                required: [access_token, token_type, expires_in]
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    enum: [Bearer]
                  expires_in:
                    type: integer
                    example: 900
        "401":
          description: Missing or invalid refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────
  # Users
  # ──────────────────────────────────────────────
  /api/v2/users/me:
    get:
      operationId: getProfile
      summary: Get current user profile
      tags: [Users]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      operationId: updateProfile
      summary: Update current user profile
      tags: [Users]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                name:
                  type: string
                phone:
                  type: string
      responses:
        "200":
          description: Profile updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UserProfile"
                  - type: object
                    properties:
                      updated_at:
                        type: string
                        format: date-time

  /api/v2/users/me/addresses:
    get:
      operationId: getAddresses
      summary: Get saved addresses
      tags: [Users]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Saved addresses
          content:
            application/json:
              schema:
                type: object
                required: [addresses, total]
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: "#/components/schemas/Address"
                  total:
                    type: integer

  # ──────────────────────────────────────────────
  # Orders
  # ──────────────────────────────────────────────
  /api/v2/orders:
    get:
      operationId: listOrders
      summary: Get order history
      tags: [Orders]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Order history
          content:
            application/json:
              schema:
                type: object
                required: [orders, total]
                properties:
                  orders:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrderSummary"
                  total:
                    type: integer

  /api/v2/orders/{order_id}:
    get:
      operationId: getOrder
      summary: Get order detail
      tags: [Orders]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: Full order detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v2/orders/{order_id}/tracking:
    get:
      operationId: getOrderTracking
      summary: Get shipping tracking info
      tags: [Orders]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: Tracking information (may include full tracking or a processing message)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TrackingInfo"
                  - $ref: "#/components/schemas/TrackingPending"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v2/orders/{order_id}/return:
    post:
      operationId: initiateReturn
      summary: Initiate a return
      tags: [Orders]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      product_id:
                        type: string
                      quantity:
                        type: integer
      responses:
        "201":
          description: Return initiated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReturnResponse"
        "400":
          description: Order not in delivered status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Sellers
  # ──────────────────────────────────────────────
  /api/v2/sellers/me/products:
    get:
      operationId: listSellerProducts
      summary: List seller's products
      tags: [Sellers]
      security:
        - SellerApiKey: []
      responses:
        "200":
          description: Seller's product listings
          content:
            application/json:
              schema:
                type: object
                required: [products, total]
                properties:
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/SellerProduct"
                  total:
                    type: integer

    post:
      operationId: createSellerProduct
      summary: Create a new product listing
      tags: [Sellers]
      security:
        - SellerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, price, category_id]
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                currency:
                  type: string
                category_id:
                  type: string
                images:
                  type: array
                  items:
                    type: string
      responses:
        "201":
          description: Product created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerProductDetail"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v2/sellers/me/products/{product_id}:
    put:
      operationId: updateSellerProduct
      summary: Update a product listing
      tags: [Sellers]
      security:
        - SellerApiKey: []
      parameters:
        - $ref: "#/components/parameters/ProductId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                category_id:
                  type: string
                in_stock:
                  type: boolean
      responses:
        "200":
          description: Product updated
          content:
            application/json:
              schema:
                type: object
                required: [id, name, description, price, currency, category_id, seller_id, in_stock, updated_at]
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  price:
                    type: number
                  currency:
                    type: string
                  category_id:
                    type: string
                  seller_id:
                    type: string
                  in_stock:
                    type: boolean
                  updated_at:
                    type: string
                    format: date-time
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v2/sellers/me/analytics:
    get:
      operationId: getSellerAnalytics
      summary: Get sales analytics dashboard
      tags: [Sellers]
      security:
        - SellerApiKey: []
      responses:
        "200":
          description: Seller analytics
          content:
            application/json:
              schema:
                type: object
                required: [seller_id, period, revenue, order_count, top_products]
                properties:
                  seller_id:
                    type: string
                  period:
                    type: string
                  revenue:
                    type: number
                  order_count:
                    type: integer
                  top_products:
                    type: array
                    items:
                      type: object
                      required: [product_id, name, units_sold]
                      properties:
                        product_id:
                          type: string
                        name:
                          type: string
                        units_sold:
                          type: integer

  /api/v2/sellers/me/orders:
    get:
      operationId: getSellerOrders
      summary: Get orders for seller's products
      tags: [Sellers]
      security:
        - SellerApiKey: []
      responses:
        "200":
          description: Orders containing seller's products
          content:
            application/json:
              schema:
                type: object
                required: [orders, total]
                properties:
                  orders:
                    type: array
                    items:
                      $ref: "#/components/schemas/SellerOrder"
                  total:
                    type: integer

  # ──────────────────────────────────────────────
  # Webhooks
  # ──────────────────────────────────────────────
  /api/v2/webhooks/payment:
    post:
      operationId: paymentWebhook
      summary: Receive payment confirmation webhook
      tags: [Webhooks]
      security:
        - mTLS: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event, payment_id, order_id]
              properties:
                event:
                  type: string
                  enum:
                    - payment.confirmed
                    - payment.failed
                    - payment.refunded
                payment_id:
                  type: string
                order_id:
                  type: string
      responses:
        "200":
          description: Webhook acknowledged
          content:
            application/json:
              schema:
                type: object
                required: [received, event, payment_id, order_id, processed_at]
                properties:
                  received:
                    type: boolean
                  event:
                    type: string
                  payment_id:
                    type: string
                  order_id:
                    type: string
                  processed_at:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v2/webhooks/shipping:
    post:
      operationId: shippingWebhook
      summary: Receive shipping status update webhook
      tags: [Webhooks]
      security:
        - mTLS: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event, tracking_number, order_id]
              properties:
                event:
                  type: string
                  enum:
                    - shipment.created
                    - shipment.in_transit
                    - shipment.delivered
                tracking_number:
                  type: string
                order_id:
                  type: string
      responses:
        "200":
          description: Webhook acknowledged
          content:
            application/json:
              schema:
                type: object
                required: [received, event, tracking_number, order_id, processed_at]
                properties:
                  received:
                    type: boolean
                  event:
                    type: string
                  tracking_number:
                    type: string
                  order_id:
                    type: string
                  processed_at:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"

  # ──────────────────────────────────────────────
  # Internal (no auth — shadow API)
  # ──────────────────────────────────────────────
  /internal/health:
    get:
      operationId: healthCheck
      summary: Service health check
      description: No authentication required — intentionally exposed internal endpoint.
      tags: [Internal]
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                required: [status, service, version, uptime_seconds, timestamp, dependencies]
                properties:
                  status:
                    type: string
                    enum: [healthy]
                  service:
                    type: string
                    example: cartnova-api
                  version:
                    type: string
                    example: "2.4.1"
                  uptime_seconds:
                    type: integer
                    example: 847293
                  timestamp:
                    type: string
                    format: date-time
                  dependencies:
                    type: object
                    properties:
                      database:
                        type: string
                      cache:
                        type: string
                      payment_gateway:
                        type: string
                      search_engine:
                        type: string

  /internal/metrics:
    get:
      operationId: getMetrics
      summary: Operational metrics
      description: No authentication required — intentionally exposed internal endpoint.
      tags: [Internal]
      security: []
      responses:
        "200":
          description: Current operational metrics
          content:
            application/json:
              schema:
                type: object
                required: [http_requests_total, http_requests_errors, error_rate, avg_response_time_ms, p99_response_time_ms, active_connections, endpoints, cache, timestamp]
                properties:
                  http_requests_total:
                    type: integer
                  http_requests_errors:
                    type: integer
                  error_rate:
                    type: number
                  avg_response_time_ms:
                    type: number
                  p99_response_time_ms:
                    type: number
                  active_connections:
                    type: integer
                  endpoints:
                    type: object
                    additionalProperties: true
                  cache:
                    type: object
                    properties:
                      hit_rate:
                        type: number
                      size_mb:
                        type: number
                      evictions_24h:
                        type: integer
                  timestamp:
                    type: string
                    format: date-time

  /internal/cache/invalidate:
    post:
      operationId: invalidateCache
      summary: Invalidate cache entries
      description: No authentication required — intentionally exposed internal endpoint.
      tags: [Internal]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: string
                keys:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Cache invalidated
          content:
            application/json:
              schema:
                type: object
                required: [invalidated, scope, keys_cleared, timestamp, warning]
                properties:
                  invalidated:
                    type: boolean
                  scope:
                    type: string
                  keys_cleared:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time
                  warning:
                    type: string

# ════════════════════════════════════════════════
# Components
# ════════════════════════════════════════════════
components:
  # ── Security Schemes ──
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from POST /api/v2/auth/login
    SellerApiKey:
      type: apiKey
      in: header
      name: X-Seller-Key
      description: Seller API key passed in the X-Seller-Key header
    mTLS:
      type: apiKey
      in: header
      name: X-CF-Client-Cert
      description: >-
        Mutual TLS client certificate. mTLS is enforced at the Cloudflare edge,
        not in application code. Represented here as an API key for OpenAPI 3.0 compatibility.

  # ── Parameters ──
  parameters:
    ProductId:
      name: product_id
      in: path
      required: true
      description: Product ID
      schema:
        type: string
    ItemId:
      name: item_id
      in: path
      required: true
      description: Cart item ID
      schema:
        type: string
    CheckoutId:
      name: checkout_id
      in: path
      required: true
      description: Checkout session ID
      schema:
        type: string
    OrderId:
      name: order_id
      in: path
      required: true
      description: Order ID
      schema:
        type: string

  # ── Reusable Responses ──
  responses:
    BadRequest:
      description: Bad request — missing or invalid fields
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: NOT_FOUND
              message: Resource not found

  # ── Schemas ──
  schemas:
    # -- Error --
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string

    # -- Pagination --
    Pagination:
      type: object
      required: [page, limit, total, total_pages]
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

    # -- Products --
    ProductSummary:
      type: object
      required: [id, name, price, currency, category_id, rating, review_count, in_stock]
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: number
        currency:
          type: string
        category_id:
          type: string
        rating:
          type: number
        review_count:
          type: integer
        in_stock:
          type: boolean
        image:
          type: string
          nullable: true

    SearchResult:
      type: object
      required: [id, name, price, currency, category_id, rating, in_stock]
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: number
        currency:
          type: string
        category_id:
          type: string
        rating:
          type: number
        in_stock:
          type: boolean
        image:
          type: string
          nullable: true

    ProductDetail:
      type: object
      required: [id, name, description, price, currency, category_id, seller_id, images, rating, review_count, in_stock, created_at, variants]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        price:
          type: number
        currency:
          type: string
        category_id:
          type: string
        seller_id:
          type: string
        images:
          type: array
          items:
            type: string
        rating:
          type: number
        review_count:
          type: integer
        in_stock:
          type: boolean
        created_at:
          type: string
          format: date-time
        variants:
          type: array
          items:
            $ref: "#/components/schemas/Variant"

    Variant:
      type: object
      required: [id, product_id, name, sku, price, stock, attributes]
      properties:
        id:
          type: string
        product_id:
          type: string
        name:
          type: string
        sku:
          type: string
        price:
          type: number
        stock:
          type: integer
        attributes:
          type: object
          additionalProperties: true

    Review:
      type: object
      required: [id, author_name, rating, text, created_at]
      properties:
        id:
          type: string
        author_name:
          type: string
        rating:
          type: integer
        text:
          type: string
        created_at:
          type: string
          format: date-time

    # -- Categories --
    Category:
      type: object
      required: [id, name, slug, description]
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        image:
          type: string
          nullable: true

    CategoryProductItem:
      type: object
      required: [id, name, price, currency, rating, review_count, in_stock]
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: number
        currency:
          type: string
        rating:
          type: number
        review_count:
          type: integer
        in_stock:
          type: boolean
        image:
          type: string
          nullable: true

    # -- Cart --
    CartItem:
      type: object
      required: [id, product_id, product_name, quantity, price, currency]
      properties:
        id:
          type: string
        product_id:
          type: string
        variant_id:
          type: string
          nullable: true
        product_name:
          type: string
        quantity:
          type: integer
        price:
          type: number
        currency:
          type: string
        image:
          type: string
          nullable: true

    Cart:
      type: object
      required: [user_id, items, subtotal, currency, item_count]
      properties:
        user_id:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/CartItem"
        subtotal:
          type: number
        currency:
          type: string
        item_count:
          type: integer

    # -- Checkout --
    ShippingAddressInput:
      type: object
      required: [name, address_line_1, city, postal_code, country]
      properties:
        name:
          type: string
        address_line_1:
          type: string
        address_line_2:
          type: string
        city:
          type: string
        postal_code:
          type: string
        country:
          type: string
        phone:
          type: string

    ShippingAddress:
      type: object
      required: [name, address_line_1, city, postal_code, country]
      properties:
        name:
          type: string
        address_line_1:
          type: string
        address_line_2:
          type: string
        city:
          type: string
        postal_code:
          type: string
        country:
          type: string
        phone:
          type: string

    CheckoutSession:
      type: object
      required: [id, user_id, items, subtotal, currency, status, created_at]
      properties:
        id:
          type: string
        user_id:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/CartItem"
        subtotal:
          type: number
        currency:
          type: string
        shipping:
          type: object
          nullable: true
          description: Shipping address (null until set)
        payment:
          type: object
          nullable: true
          description: Payment info (null until set)
        status:
          type: string
          enum: [started]
        created_at:
          type: string
          format: date-time

    # -- Users --
    UserInfo:
      type: object
      required: [id, email, name, created_at]
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        created_at:
          type: string
          format: date-time

    UserProfile:
      type: object
      required: [id, email, name, phone, created_at]
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        phone:
          type: string
        created_at:
          type: string
          format: date-time

    Address:
      type: object
      required: [id, user_id, type, name, address_line_1, city, postal_code, country]
      properties:
        id:
          type: string
        user_id:
          type: string
        type:
          type: string
          enum: [shipping, billing]
        name:
          type: string
        address_line_1:
          type: string
        address_line_2:
          type: string
        city:
          type: string
        postal_code:
          type: string
        country:
          type: string
        phone:
          type: string

    # -- Orders --
    OrderSummary:
      type: object
      required: [id, status, item_count, total, currency, created_at]
      properties:
        id:
          type: string
        status:
          type: string
        item_count:
          type: integer
        total:
          type: number
        currency:
          type: string
        created_at:
          type: string
          format: date-time

    OrderDetail:
      type: object
      required: [id, status, items, shipping, payment, created_at]
      properties:
        id:
          type: string
        status:
          type: string
        items:
          type: array
          items:
            type: object
            required: [product_id, name, quantity, price]
            properties:
              product_id:
                type: string
              name:
                type: string
              quantity:
                type: integer
              price:
                type: number
              image:
                type: string
                nullable: true
        shipping:
          type: object
          required: [name, address, phone]
          properties:
            name:
              type: string
            address:
              type: string
            phone:
              type: string
        payment:
          type: object
          required: [method, last_four, amount, currency]
          properties:
            method:
              type: string
            last_four:
              type: string
            amount:
              type: number
            currency:
              type: string
        created_at:
          type: string
          format: date-time

    TrackingInfo:
      type: object
      required: [order_id, carrier, tracking_number, status, updates]
      properties:
        order_id:
          type: string
        carrier:
          type: string
        tracking_number:
          type: string
        status:
          type: string
        updates:
          type: array
          items:
            type: object
            required: [timestamp, location, status]
            properties:
              timestamp:
                type: string
                format: date-time
              location:
                type: string
              status:
                type: string

    TrackingPending:
      type: object
      required: [order_id, status, message]
      properties:
        order_id:
          type: string
        status:
          type: string
          enum: [processing]
        message:
          type: string
          example: Tracking information not yet available

    ReturnResponse:
      type: object
      required: [return_id, order_id, status, reason, items, created_at, instructions]
      properties:
        return_id:
          type: string
        order_id:
          type: string
        status:
          type: string
          enum: [return_initiated]
        reason:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
              name:
                type: string
              quantity:
                type: integer
              price:
                type: number
              image:
                type: string
                nullable: true
        created_at:
          type: string
          format: date-time
        instructions:
          type: string

    # -- Sellers --
    SellerProduct:
      type: object
      required: [id, name, price, currency, category_id, in_stock, rating, review_count, created_at]
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: number
        currency:
          type: string
        category_id:
          type: string
        in_stock:
          type: boolean
        rating:
          type: number
        review_count:
          type: integer
        image:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    SellerProductDetail:
      type: object
      required: [id, name, description, price, currency, category_id, seller_id, images, rating, review_count, in_stock, created_at]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        price:
          type: number
        currency:
          type: string
        category_id:
          type: string
        seller_id:
          type: string
        images:
          type: array
          items:
            type: string
        rating:
          type: number
          example: 0
        review_count:
          type: integer
          example: 0
        in_stock:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time

    SellerOrder:
      type: object
      required: [id, status, items, total, currency, created_at]
      properties:
        id:
          type: string
        status:
          type: string
        items:
          type: array
          items:
            type: object
            required: [product_id, name, quantity, price]
            properties:
              product_id:
                type: string
              name:
                type: string
              quantity:
                type: integer
              price:
                type: number
        total:
          type: number
        currency:
          type: string
        created_at:
          type: string
          format: date-time
