openapi: 3.0.0
info:
  title: CartNova E-Commerce API
  version: 2.4.1
  description: |
    CartNova is a modern multi-category e-commerce marketplace API.
    This spec covers all 37 hand-crafted core commerce endpoints across 9 route groups.

    **Authentication methods:**
    - **JWT Bearer** — Issued via `/api/v2/auth/login`. Passed as `Authorization: Bearer <token>`. 15-minute expiry.
    - **Seller API Key** — Passed via `X-Seller-Key` header. Used for seller portal endpoints.
    - **mTLS** — Enforced at the Cloudflare level for webhook endpoints (not modeled in this spec).

    **Known intentional vulnerabilities (for API Shield testing):**
    - BOLA on `GET /api/v2/orders/{order_id}` and `GET /api/v2/orders/{order_id}/tracking`
    - BOLA on `GET /api/v2/checkout/{checkout_id}/status`
    - Internal endpoints exposed without authentication
  contact:
    name: CartNova Engineering
    email: api@cartnova.example.com
  license:
    name: Proprietary

servers:
  - url: https://carnova.uk
    description: Production (Cloudflare Enterprise)

tags:
  - name: Products
    description: Product catalog — browsing, search, reviews, and variants. All public except posting reviews.
  - name: Categories
    description: Product category listings. All public.
  - name: Cart
    description: Shopping cart management. All endpoints require JWT authentication.
  - name: Checkout
    description: Multi-step checkout flow — start, shipping, payment, confirm, status. JWT required. Primary target for sequence mitigation testing.
  - name: Auth
    description: Account registration, login, and token refresh.
  - name: Users
    description: User profile and saved addresses. JWT required.
  - name: Orders
    description: Order history, detail, tracking, and returns. JWT required.
  - name: Sellers
    description: Seller portal — product listings, analytics, and order management. API key required.
  - name: Webhooks
    description: Inbound webhooks from payment and shipping providers. mTLS enforced at the Cloudflare level.
  - name: Internal
    description: Internal operational endpoints — health, metrics, cache. Intentionally exposed without authentication for API Shield testing.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from `/api/v2/auth/login` or `/api/v2/auth/register`. 15-minute expiry.
    SellerApiKey:
      type: apiKey
      in: header
      name: X-Seller-Key
      description: Seller API key passed in the `X-Seller-Key` header.

  schemas:
    # ─── Shared Error ────────────────────────────────────────────────
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Machine-readable error code
              example: NOT_FOUND
            message:
              type: string
              description: Human-readable error description
              example: Product not found

    # ─── Products ────────────────────────────────────────────────────
    ProductSummary:
      type: object
      properties:
        id:
          type: string
          example: prod_tv001
        name:
          type: string
          example: "ProMax Wireless Earbuds"
        price:
          type: number
          format: double
          example: 89.99
        currency:
          type: string
          example: EUR
        category_id:
          type: string
          example: cat_elec
        rating:
          type: number
          format: double
          example: 4.5
        review_count:
          type: integer
          example: 127
        in_stock:
          type: boolean
          example: true
        image:
          type: string
          nullable: true
          example: "https://images.cartnova.example.com/products/earbuds-main.jpg"

    SearchResultItem:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: number
          format: double
        currency:
          type: string
        category_id:
          type: string
        rating:
          type: number
          format: double
        in_stock:
          type: boolean
        image:
          type: string
          nullable: true

    ProductDetail:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: double
        currency:
          type: string
        category_id:
          type: string
        seller_id:
          type: string
        images:
          type: array
          items:
            type: string
        rating:
          type: number
          format: double
        review_count:
          type: integer
        in_stock:
          type: boolean
        created_at:
          type: string
          format: date-time
        variants:
          type: array
          items:
            $ref: '#/components/schemas/Variant'

    Variant:
      type: object
      properties:
        id:
          type: string
          example: var_earbuds_black
        product_id:
          type: string
        name:
          type: string
          example: "Black"
        sku:
          type: string
          example: "PME-BLK-001"
        price:
          type: number
          format: double
        stock:
          type: integer
        attributes:
          type: object
          additionalProperties:
            type: string

    Review:
      type: object
      properties:
        id:
          type: string
        author_name:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        text:
          type: string
        created_at:
          type: string
          format: date-time

    ReviewCreated:
      type: object
      properties:
        id:
          type: string
        product_id:
          type: string
        user_id:
          type: string
        author_name:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        text:
          type: string
        created_at:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

    # ─── Categories ──────────────────────────────────────────────────
    Category:
      type: object
      properties:
        id:
          type: string
          example: cat_elec
        name:
          type: string
          example: Electronics
        slug:
          type: string
          example: electronics
        description:
          type: string
        image:
          type: string
          nullable: true

    CategorySummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        image:
          type: string
          nullable: true

    CategoryProductItem:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: number
          format: double
        currency:
          type: string
        rating:
          type: number
          format: double
        review_count:
          type: integer
        in_stock:
          type: boolean
        image:
          type: string
          nullable: true

    # ─── Cart ────────────────────────────────────────────────────────
    CartItem:
      type: object
      properties:
        id:
          type: string
          example: ci_abc12345
        product_id:
          type: string
        variant_id:
          type: string
          nullable: true
        product_name:
          type: string
        quantity:
          type: integer
        price:
          type: number
          format: double
        currency:
          type: string
        image:
          type: string
          nullable: true

    CartResponse:
      type: object
      properties:
        user_id:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        subtotal:
          type: number
          format: double
        currency:
          type: string
        item_count:
          type: integer

    # ─── Checkout ────────────────────────────────────────────────────
    ShippingInfo:
      type: object
      properties:
        name:
          type: string
        address_line_1:
          type: string
        address_line_2:
          type: string
          nullable: true
        city:
          type: string
        postal_code:
          type: string
        country:
          type: string
        phone:
          type: string
          nullable: true

    PaymentInfo:
      type: object
      properties:
        payment_method:
          type: string
        card_token:
          type: string
        last_four:
          type: string
        billing_address:
          type: object
          nullable: true
          properties:
            name:
              type: string
            address_line_1:
              type: string
            city:
              type: string
            postal_code:
              type: string
            country:
              type: string

    CheckoutStarted:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        subtotal:
          type: number
          format: double
        currency:
          type: string
        shipping:
          nullable: true
          description: Always null on start
        payment:
          nullable: true
          description: Always null on start
        status:
          type: string
          enum:
            - started
        created_at:
          type: string
          format: date-time

    CheckoutShippingSet:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
            - shipping_set
        shipping:
          $ref: '#/components/schemas/ShippingInfo'
        payment:
          nullable: true
        updated_at:
          type: string
          format: date-time

    CheckoutPaymentSet:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
            - payment_set
        shipping:
          $ref: '#/components/schemas/ShippingInfo'
          nullable: true
        payment:
          $ref: '#/components/schemas/PaymentInfo'
        updated_at:
          type: string
          format: date-time

    CheckoutConfirmed:
      type: object
      properties:
        checkout_id:
          type: string
        order_id:
          type: string
        status:
          type: string
          enum:
            - confirmed
        message:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        total:
          type: number
          format: double
        currency:
          type: string
        confirmed_at:
          type: string
          format: date-time

    CheckoutStatus:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
            - started
            - shipping_set
            - payment_set
            - confirmed
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        subtotal:
          type: number
          format: double
        currency:
          type: string
        shipping:
          $ref: '#/components/schemas/ShippingInfo'
          nullable: true
        created_at:
          type: string
          format: date-time

    # ─── Auth ────────────────────────────────────────────────────────
    RegisterResponse:
      type: object
      properties:
        user:
          type: object
          properties:
            id:
              type: string
            email:
              type: string
              format: email
            name:
              type: string
            created_at:
              type: string
              format: date-time
        access_token:
          type: string
        token_type:
          type: string
          enum:
            - Bearer
        expires_in:
          type: integer
          description: Token lifetime in seconds
          example: 900

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          enum:
            - Bearer
        expires_in:
          type: integer
          example: 900
        user:
          type: object
          properties:
            id:
              type: string
            email:
              type: string
              format: email
            name:
              type: string

    TokenRefreshResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          enum:
            - Bearer
        expires_in:
          type: integer
          example: 900

    # ─── Users ───────────────────────────────────────────────────────
    UserProfile:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        phone:
          type: string
        created_at:
          type: string
          format: date-time

    UserProfileUpdated:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        phone:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Address:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        type:
          type: string
          enum:
            - shipping
            - billing
        name:
          type: string
        address_line_1:
          type: string
        address_line_2:
          type: string
          nullable: true
        city:
          type: string
        postal_code:
          type: string
        country:
          type: string
        phone:
          type: string

    # ─── Orders ──────────────────────────────────────────────────────
    OrderSummary:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
            - processing
            - shipped
            - delivered
            - returned
        item_count:
          type: integer
        total:
          type: number
          format: double
        currency:
          type: string
        created_at:
          type: string
          format: date-time

    OrderItem:
      type: object
      properties:
        product_id:
          type: string
        name:
          type: string
        quantity:
          type: integer
        price:
          type: number
          format: double
        image:
          type: string
          nullable: true

    OrderDetail:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
            - processing
            - shipped
            - delivered
            - returned
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        shipping:
          type: object
          properties:
            name:
              type: string
            address:
              type: string
            phone:
              type: string
        payment:
          type: object
          properties:
            method:
              type: string
            last_four:
              type: string
            amount:
              type: number
              format: double
            currency:
              type: string
        created_at:
          type: string
          format: date-time

    TrackingUpdate:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        location:
          type: string
        status:
          type: string

    TrackingWithInfo:
      type: object
      description: Response when tracking information is available
      properties:
        order_id:
          type: string
        carrier:
          type: string
        tracking_number:
          type: string
        status:
          type: string
        updates:
          type: array
          items:
            $ref: '#/components/schemas/TrackingUpdate'

    TrackingPending:
      type: object
      description: Response when tracking information is not yet available
      properties:
        order_id:
          type: string
        status:
          type: string
          enum:
            - processing
        message:
          type: string

    ReturnInitiated:
      type: object
      properties:
        return_id:
          type: string
        order_id:
          type: string
        status:
          type: string
          enum:
            - return_initiated
        reason:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        created_at:
          type: string
          format: date-time
        instructions:
          type: string

    # ─── Sellers ─────────────────────────────────────────────────────
    SellerProductSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: number
          format: double
        currency:
          type: string
        category_id:
          type: string
        in_stock:
          type: boolean
        rating:
          type: number
          format: double
        review_count:
          type: integer
        image:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    SellerProductCreated:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: double
        currency:
          type: string
        category_id:
          type: string
        seller_id:
          type: string
        images:
          type: array
          items:
            type: string
        rating:
          type: number
          format: double
        review_count:
          type: integer
        in_stock:
          type: boolean
        created_at:
          type: string
          format: date-time

    SellerProductUpdated:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: double
        currency:
          type: string
        category_id:
          type: string
        seller_id:
          type: string
        in_stock:
          type: boolean
        updated_at:
          type: string
          format: date-time

    SellerAnalytics:
      type: object
      properties:
        seller_id:
          type: string
        period:
          type: string
          example: "2024-11"
        revenue:
          type: number
          format: double
        order_count:
          type: integer
        top_products:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
              name:
                type: string
              units_sold:
                type: integer

    SellerOrderItem:
      type: object
      properties:
        product_id:
          type: string
        name:
          type: string
        quantity:
          type: integer
        price:
          type: number
          format: double

    SellerOrder:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/SellerOrderItem'
        total:
          type: number
          format: double
        currency:
          type: string
        created_at:
          type: string
          format: date-time

    # ─── Webhooks ────────────────────────────────────────────────────
    PaymentWebhookResponse:
      type: object
      properties:
        received:
          type: boolean
        event:
          type: string
        payment_id:
          type: string
        order_id:
          type: string
        processed_at:
          type: string
          format: date-time

    ShippingWebhookResponse:
      type: object
      properties:
        received:
          type: boolean
        event:
          type: string
        tracking_number:
          type: string
        order_id:
          type: string
        processed_at:
          type: string
          format: date-time

    # ─── Internal ────────────────────────────────────────────────────
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: healthy
        service:
          type: string
          example: cartnova-api
        version:
          type: string
          example: "2.4.1"
        uptime_seconds:
          type: integer
        timestamp:
          type: string
          format: date-time
        dependencies:
          type: object
          properties:
            database:
              type: string
            cache:
              type: string
            payment_gateway:
              type: string
            search_engine:
              type: string

    EndpointMetric:
      type: object
      properties:
        requests:
          type: integer
        avg_ms:
          type: number
          format: double

    MetricsResponse:
      type: object
      properties:
        http_requests_total:
          type: integer
        http_requests_errors:
          type: integer
        error_rate:
          type: number
          format: double
        avg_response_time_ms:
          type: number
          format: double
        p99_response_time_ms:
          type: number
          format: double
        active_connections:
          type: integer
        endpoints:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EndpointMetric'
        cache:
          type: object
          properties:
            hit_rate:
              type: number
              format: double
            size_mb:
              type: integer
            evictions_24h:
              type: integer
        timestamp:
          type: string
          format: date-time

    CacheInvalidateResponse:
      type: object
      properties:
        invalidated:
          type: boolean
        scope:
          type: string
        keys_cleared:
          type: integer
        timestamp:
          type: string
          format: date-time
        warning:
          type: string

paths:
  # ═══════════════════════════════════════════════════════════════════
  # Products (6 endpoints)
  # ═══════════════════════════════════════════════════════════════════

  /api/v2/products:
    get:
      operationId: listProducts
      summary: List products
      description: Returns a paginated list of products. Supports filtering by search query and category.
      tags:
        - Products
      parameters:
        - name: q
          in: query
          description: Text search across product names and descriptions
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: Filter by category ID
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (1-indexed)
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Items per page
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Paginated product listing
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductSummary'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /api/v2/products/search:
    get:
      operationId: searchProducts
      summary: Search products
      description: Full-text search across product names and descriptions with optional price range filtering.
      tags:
        - Products
      parameters:
        - name: q
          in: query
          description: Search query (required)
          required: true
          schema:
            type: string
        - name: min_price
          in: query
          description: Minimum price filter
          required: false
          schema:
            type: number
            format: double
        - name: max_price
          in: query
          description: Maximum price filter
          required: false
          schema:
            type: number
            format: double
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchResultItem'
                  total:
                    type: integer
        '400':
          description: Missing required query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/products/{product_id}:
    get:
      operationId: getProduct
      summary: Get product detail
      description: Returns full product information including description, all images, and variants.
      tags:
        - Products
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product detail with variants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/products/{product_id}/reviews:
    get:
      operationId: getProductReviews
      summary: Get product reviews
      description: Returns all reviews for a product along with the total count and average rating.
      tags:
        - Products
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product reviews
          content:
            application/json:
              schema:
                type: object
                properties:
                  product_id:
                    type: string
                  reviews:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
                  total:
                    type: integer
                  average_rating:
                    type: number
                    format: double
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: addProductReview
      summary: Add a product review
      description: Submit a review for a product. Requires JWT authentication.
      tags:
        - Products
      security:
        - BearerAuth: []
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rating
                - text
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                  description: Rating from 1 to 5
                text:
                  type: string
                  description: Review text
      responses:
        '201':
          description: Review created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewCreated'
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/products/{product_id}/variants:
    get:
      operationId: getProductVariants
      summary: Get product variants
      description: Returns all variants (size, color, etc.) for a product.
      tags:
        - Products
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product variants
          content:
            application/json:
              schema:
                type: object
                properties:
                  product_id:
                    type: string
                  variants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Variant'
                  total:
                    type: integer
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ═══════════════════════════════════════════════════════════════════
  # Categories (2 endpoints)
  # ═══════════════════════════════════════════════════════════════════

  /api/v2/categories:
    get:
      operationId: listCategories
      summary: List categories
      description: Returns all product categories.
      tags:
        - Categories
      responses:
        '200':
          description: Category listing
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                  total:
                    type: integer

  /api/v2/categories/{category_id}/products:
    get:
      operationId: getCategoryProducts
      summary: Get products in a category
      description: Returns all products belonging to a specific category.
      tags:
        - Categories
      parameters:
        - name: category_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Category with its products
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    $ref: '#/components/schemas/CategorySummary'
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryProductItem'
                  total:
                    type: integer
        '404':
          description: Category not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ═══════════════════════════════════════════════════════════════════
  # Cart (4 endpoints)
  # ═══════════════════════════════════════════════════════════════════

  /api/v2/cart:
    get:
      operationId: viewCart
      summary: View shopping cart
      description: Returns the current user's shopping cart with all items, subtotal, and item count.
      tags:
        - Cart
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Current cart contents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'

  /api/v2/cart/items:
    post:
      operationId: addToCart
      summary: Add item to cart
      description: Adds a product (optionally a specific variant) to the authenticated user's cart.
      tags:
        - Cart
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_id
                - quantity
              properties:
                product_id:
                  type: string
                  description: Product to add
                variant_id:
                  type: string
                  description: Optional variant selection
                quantity:
                  type: integer
                  minimum: 1
                  description: Number of units to add
      responses:
        '201':
          description: Item added, updated cart returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/cart/items/{item_id}:
    put:
      operationId: updateCartItemQuantity
      summary: Update item quantity
      description: Updates the quantity of an item already in the cart.
      tags:
        - Cart
      security:
        - BearerAuth: []
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quantity
              properties:
                quantity:
                  type: integer
                  minimum: 1
                  description: New quantity
      responses:
        '200':
          description: Quantity updated, full cart returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          description: Missing quantity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Cart item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: removeCartItem
      summary: Remove item from cart
      description: Removes an item from the cart entirely.
      tags:
        - Cart
      security:
        - BearerAuth: []
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Item removed, updated cart returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '404':
          description: Cart item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ═══════════════════════════════════════════════════════════════════
  # Checkout (5 endpoints)
  # ═══════════════════════════════════════════════════════════════════

  /api/v2/checkout/start:
    post:
      operationId: startCheckout
      summary: Start checkout
      description: |
        Initiates a new checkout session from the current cart contents.
        This is step 1 of the checkout sequence: start → shipping → payment → confirm.
      tags:
        - Checkout
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutStarted'
        '400':
          description: Cart is empty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/checkout/{checkout_id}/shipping:
    put:
      operationId: setCheckoutShipping
      summary: Set shipping address
      description: |
        Sets the shipping address for a checkout session.
        Step 2 of the checkout sequence. Request body contains PII (name, address, phone).
      tags:
        - Checkout
      security:
        - BearerAuth: []
      parameters:
        - name: checkout_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - address_line_1
                - city
                - postal_code
                - country
              properties:
                name:
                  type: string
                  description: Recipient name
                address_line_1:
                  type: string
                address_line_2:
                  type: string
                city:
                  type: string
                postal_code:
                  type: string
                country:
                  type: string
                phone:
                  type: string
      responses:
        '200':
          description: Shipping address set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutShippingSet'
        '400':
          description: Missing required shipping fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/checkout/{checkout_id}/payment:
    put:
      operationId: setCheckoutPayment
      summary: Set payment method
      description: |
        Sets the payment method for a checkout session.
        Step 3 of the checkout sequence. Request body contains financial data (card token, billing address).
      tags:
        - Checkout
      security:
        - BearerAuth: []
      parameters:
        - name: checkout_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - payment_method
                - card_token
              properties:
                payment_method:
                  type: string
                  description: Payment type (e.g. "credit_card", "ideal")
                card_token:
                  type: string
                  description: Tokenized card reference from payment provider
                billing_address:
                  type: object
                  properties:
                    name:
                      type: string
                    address_line_1:
                      type: string
                    city:
                      type: string
                    postal_code:
                      type: string
                    country:
                      type: string
      responses:
        '200':
          description: Payment method set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutPaymentSet'
        '400':
          description: Missing required payment fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/checkout/{checkout_id}/confirm:
    post:
      operationId: confirmCheckout
      summary: Confirm and place order
      description: |
        Confirms the checkout and places the order.
        Step 4 (final) of the checkout sequence. Shipping and payment must be set first.
      tags:
        - Checkout
      security:
        - BearerAuth: []
      parameters:
        - name: checkout_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutConfirmed'

  /api/v2/checkout/{checkout_id}/status:
    get:
      operationId: getCheckoutStatus
      summary: Check checkout status
      description: |
        Returns the current state of a checkout session.
        **BOLA vulnerability:** Does not verify checkout ownership — any authenticated user can view any checkout by ID.
      tags:
        - Checkout
      security:
        - BearerAuth: []
      parameters:
        - name: checkout_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Checkout status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutStatus'
        '404':
          description: Checkout not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ═══════════════════════════════════════════════════════════════════
  # Auth (3 endpoints)
  # ═══════════════════════════════════════════════════════════════════

  /api/v2/auth/register:
    post:
      operationId: register
      summary: Create a new account
      description: Registers a new user account and returns a JWT access token.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                name:
                  type: string
      responses:
        '201':
          description: Account created with access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/auth/login:
    post:
      operationId: login
      summary: Login
      description: |
        Authenticates a user and returns a JWT access token.
        Also sets a `refresh_token` HTTP-only cookie for token refresh.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/auth/refresh:
    post:
      operationId: refreshToken
      summary: Refresh access token
      description: |
        Issues a new JWT access token using the `refresh_token` HTTP-only cookie set during login.
        The cookie is not modeled as a parameter in this spec since OpenAPI 3.0 does not support cookie-based auth well.
      tags:
        - Auth
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefreshResponse'
        '401':
          description: Missing or invalid refresh token cookie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ═══════════════════════════════════════════════════════════════════
  # Users (3 endpoints)
  # ═══════════════════════════════════════════════════════════════════

  /api/v2/users/me:
    get:
      operationId: getProfile
      summary: Get current user profile
      description: Returns the profile of the authenticated user. Response contains PII (email, phone).
      tags:
        - Users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateProfile
      summary: Update user profile
      description: Updates the authenticated user's profile. All fields are optional — only provided fields are updated.
      tags:
        - Users
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                name:
                  type: string
                phone:
                  type: string
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileUpdated'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/users/me/addresses:
    get:
      operationId: getUserAddresses
      summary: Get saved addresses
      description: Returns all saved shipping and billing addresses for the authenticated user. Response contains PII.
      tags:
        - Users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User addresses
          content:
            application/json:
              schema:
                type: object
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Address'
                  total:
                    type: integer

  # ═══════════════════════════════════════════════════════════════════
  # Orders (4 endpoints)
  # ═══════════════════════════════════════════════════════════════════

  /api/v2/orders:
    get:
      operationId: listOrders
      summary: List orders
      description: Returns the authenticated user's order history. Correctly filtered by user ownership.
      tags:
        - Orders
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Order listing
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderSummary'
                  total:
                    type: integer

  /api/v2/orders/{order_id}:
    get:
      operationId: getOrderDetail
      summary: Get order detail
      description: |
        Returns full order details including items, shipping info, and payment info.
        **BOLA vulnerability:** Does not verify order ownership — any authenticated user can view any order by ID.
      tags:
        - Orders
      security:
        - BearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetail'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/orders/{order_id}/tracking:
    get:
      operationId: getOrderTracking
      summary: Get order tracking
      description: |
        Returns tracking information for an order. If tracking is not yet available, returns a pending status message.
        **BOLA vulnerability:** Does not verify order ownership.
      tags:
        - Orders
      security:
        - BearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tracking information (may be full tracking or a pending-status message)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TrackingWithInfo'
                  - $ref: '#/components/schemas/TrackingPending'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/orders/{order_id}/return:
    post:
      operationId: initiateReturn
      summary: Initiate a return
      description: Starts the return process for a delivered order. Only orders with status "delivered" can be returned.
      tags:
        - Orders
      security:
        - BearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the return
                items:
                  type: array
                  description: Specific items to return (optional — defaults to all order items)
                  items:
                    type: object
      responses:
        '201':
          description: Return initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnInitiated'
        '400':
          description: Order is not in delivered status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ═══════════════════════════════════════════════════════════════════
  # Sellers (5 endpoints)
  # ═══════════════════════════════════════════════════════════════════

  /api/v2/sellers/me/products:
    get:
      operationId: listSellerProducts
      summary: List seller's products
      description: Returns all product listings owned by the authenticated seller.
      tags:
        - Sellers
      security:
        - SellerApiKey: []
      responses:
        '200':
          description: Seller's product listings
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/SellerProductSummary'
                  total:
                    type: integer
    post:
      operationId: createSellerProduct
      summary: Create a new product listing
      description: Creates a new product listing in the marketplace for the authenticated seller.
      tags:
        - Sellers
      security:
        - SellerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - price
                - category_id
              properties:
                name:
                  type: string
                price:
                  type: number
                  format: double
                category_id:
                  type: string
                description:
                  type: string
                currency:
                  type: string
                  default: EUR
                images:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Product listing created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerProductCreated'
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/sellers/me/products/{product_id}:
    put:
      operationId: updateSellerProduct
      summary: Update a product listing
      description: Updates an existing product listing. Only the seller who owns the listing can update it.
      tags:
        - Sellers
      security:
        - SellerApiKey: []
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                  format: double
                category_id:
                  type: string
                in_stock:
                  type: boolean
      responses:
        '200':
          description: Product listing updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerProductUpdated'
        '404':
          description: Product not found or does not belong to this seller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/sellers/me/analytics:
    get:
      operationId: getSellerAnalytics
      summary: Get sales analytics
      description: Returns sales analytics for the authenticated seller including revenue, order count, and top products.
      tags:
        - Sellers
      security:
        - SellerApiKey: []
      responses:
        '200':
          description: Seller analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerAnalytics'

  /api/v2/sellers/me/orders:
    get:
      operationId: listSellerOrders
      summary: List seller's orders
      description: Returns all orders that contain products from the authenticated seller.
      tags:
        - Sellers
      security:
        - SellerApiKey: []
      responses:
        '200':
          description: Seller's orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/SellerOrder'
                  total:
                    type: integer

  # ═══════════════════════════════════════════════════════════════════
  # Webhooks (2 endpoints)
  # ═══════════════════════════════════════════════════════════════════

  /api/v2/webhooks/payment:
    post:
      operationId: paymentWebhook
      summary: Payment provider webhook
      description: |
        Receives payment status updates from the payment provider.
        Authentication is handled via mTLS at the Cloudflare level, not in the application.
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event
                - payment_id
                - order_id
              properties:
                event:
                  type: string
                  enum:
                    - payment.confirmed
                    - payment.failed
                    - payment.refunded
                  description: Payment event type
                payment_id:
                  type: string
                order_id:
                  type: string
                amount:
                  type: number
                  format: double
                currency:
                  type: string
                timestamp:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Webhook received and processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentWebhookResponse'
        '400':
          description: Missing required fields or invalid event type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/webhooks/shipping:
    post:
      operationId: shippingWebhook
      summary: Shipping carrier webhook
      description: |
        Receives shipping status updates from the carrier.
        Authentication is handled via mTLS at the Cloudflare level, not in the application.
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event
                - tracking_number
                - order_id
              properties:
                event:
                  type: string
                  enum:
                    - shipment.created
                    - shipment.in_transit
                    - shipment.delivered
                  description: Shipping event type
                tracking_number:
                  type: string
                order_id:
                  type: string
                carrier:
                  type: string
                timestamp:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Webhook received and processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingWebhookResponse'
        '400':
          description: Missing required fields or invalid event type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ═══════════════════════════════════════════════════════════════════
  # Internal (3 endpoints)
  # ═══════════════════════════════════════════════════════════════════

  /internal/health:
    get:
      operationId: healthCheck
      summary: Health check
      description: |
        Returns the health status of the API and its dependencies.
        **No authentication required.** This endpoint is intentionally exposed for API Shield testing
        (should be flagged by Authentication Posture as missing auth).
      tags:
        - Internal
      responses:
        '200':
          description: Service health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /internal/metrics:
    get:
      operationId: getMetrics
      summary: Operational metrics
      description: |
        Returns operational metrics including request counts, error rates, response times, and cache statistics.
        **No authentication required.** Intentionally exposed — contains sensitive operational data.
      tags:
        - Internal
      responses:
        '200':
          description: Operational metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'

  /internal/cache/invalidate:
    post:
      operationId: invalidateCache
      summary: Invalidate cache
      description: |
        Triggers cache invalidation across all edge nodes.
        **No authentication required.** Intentionally exposed — allows unauthenticated cache busting.
      tags:
        - Internal
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: string
                  description: Scope of invalidation (e.g. "products", "categories", "all")
                keys:
                  type: array
                  items:
                    type: string
                  description: Specific cache keys to invalidate
      responses:
        '200':
          description: Cache invalidated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheInvalidateResponse'
